<header>
  <div><a href="/">Recipe Share</a><a href="/profile/{{myid}}" style="float: right;" id="myLink" data-me="{{myid}}">{{myname}}</a>
  </div>

</header>
<h1>Profile</h1>
<div style="height: 150px;">
  <img src="{{userInfo.image}}" alt="image" style="float:left;" height="100" width="100">
  {{#if isME}}
  <a id="recipeLink" href="/register/edit/{{userInfo._id}}" data-me="{{myid}}">Edit Profile</a>
  {{/if}}

  <div>
    <span>{{userInfo.firstName}} {{userInfo.lastName}}</span>

    {{!-- <form action="/search" method="POST" class="new-post-form" style="float:right;">
      <button type="button" style="float:right;">Edit Profile</button>
    </form> --}}
    <p>{{userInfo.email}}</p>
  </div>
</div>
{{#if isME}}
<div style="height:50px; float:right">
  <a id="recipeLink" href="/recipe-form/create">Create a new Recipe</a>
</div>
{{/if}}
<br>
<br>
<main>
  {{#if hasRecipe}}
  {{#each recipeList}}
  <div style="height: 150px;">
    <img src="{{this.image}}" alt="image" style="float:left;" height="100" width="100">
    <div>
<<<<<<< HEAD
      <span>{{this.name}}</span>
      <a href="/recipe-form/edit?postInfo={{json this}}" class="btn btn-info" style="float:right;">Edit</a>
=======
      <span><a href="/post/{{this._id}}">{{this.name}}</a></span>
      {{!-- <form action="/search" method="POST" class="new-post-form" style="float:right;">
        <button type="button" style="float:right;">Edit</button>
      </form> --}}
>>>>>>> 48a64a132057a4721847aaf8e215af3a8d866a14
      <p>{{this.ingredients}}</p>
      <a id="editrecipeLink" href="/recipe-form/{{this._id}}" hidden>Edit</a>
    </div>

  </div>
  {{/each}}
  {{else}}
  <br>
  <br>
  <p class="not-found">You haven't posted any recipes yet!</p>
  {{/if}}
  <br>
  <br>
  <a id="homeLink" href="/">Back to main page</a>
</main>